repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all
        language: system
        types_or: [rust, toml]
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types_or: [rust]
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        entry: cargo check --all-targets --all-features
        language: system
        types_or: [rust]
        pass_filenames: false
      - id: typos
        name: typos
        entry: typos
        language: system
        types_or: [text]
