[Unit]
Description=Collect battery metrics periodically

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
AccuracySec=1s
Unit=battery-monitor.service

[Install]
WantedBy=timers.target
